@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.footer {
    text-align: center;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	border: 1px #ccc;
	border-style: solid none none;
	padding: 10px;
    background-color: #FFF;
}
.header {
    background-color: #FFF;
}